<!DOCTYPE html>
<html lang="en">
    <head>
        <title> </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../styles.css" rel="stylesheet">
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="Home/home.html">.home()</a>
            <a href="Classwork/classwork.html" >.classwork()</a>
            <a href="Resource/resource.html">.resources()</a>
            <a href="News/news.html">.news()</a>
            <a href="Forums/forums.html">.forums()</a>
            <a href="About/about.html">.about()</a>
            <a href="Contact/contact.html">.contact()</a>
        </div>
        <div class="topBar">
            <span onclick="openNav()" id="navButton">&#9776;</span>
            <a href="CreateAccount/account.html">Sign up</a>
            <a href="Feedback/feedback.html">Feedback</a>
        </div>
    </head>
    <body>
        <h1>Title Here</h1>
        <div class="mainContainer">
            <div class="authorBox">
                <span>Author: </span>
                <br>
                <span>Total Posts:</span>
                <br>
            </div>
            <div class="threadContents">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque ipsum eos sit dicta repudiandae, in sunt velit, sequi minus corporis nostrum iure facere culpa ea blanditiis cupiditate deserunt eligendi fugit.
                Enim nemo alias perferendis, fuga velit maiores, deserunt cupiditate quas voluptatum corporis illum odit nobis exercitationem fugit modi eaque ratione, id architecto sed praesentium blanditiis ullam ad dolore maxime. Alias.
                Nobis ex fugiat est recusandae itaque. Sunt quo obcaecati repellat ipsum vero, ab quae minus sed enim qui dolore magni, excepturi quam in ullam officiis fuga totam, voluptate assumenda repudiandae.
                Voluptatem, inventore. Minus iste laboriosam deleniti fugiat, iure tenetur vero! Suscipit voluptatem tempora harum fuga culpa error natus quod, itaque, rerum deserunt ex, laudantium optio obcaecati. Modi quibusdam laboriosam excepturi.
                Earum excepturi esse tenetur laboriosam fugiat voluptates quidem omnis expedita placeat dicta! Dolore nisi fugit voluptates reprehenderit inventore saepe nemo, in quod adipisci at mollitia corporis earum dignissimos quasi animi.
                Alias cum velit aperiam hic consectetur accusantium, iusto incidunt quae distinctio corrupti dignissimos corporis eius mollitia eligendi, est sequi doloremque, eaque tempore ipsa veritatis dolor. Obcaecati fuga omnis at! Voluptates.
                Perferendis laboriosam error similique minus reprehenderit, provident corrupti quidem, sequi voluptate quia doloremque ut facere veritatis! Reiciendis ea, voluptatem illum, dicta quae animi numquam facilis earum laborum, vel nemo esse!
                Unde dolor laborum vero eligendi temporibus pariatur commodi possimus adipisci ea animi atque optio non odit eum eaque, ipsam omnis eveniet ducimus. Optio, praesentium. Obcaecati autem labore dignissimos reprehenderit nam?
                Perspiciatis qui architecto culpa optio consequuntur eos iste blanditiis libero dolores porro hic provident perferendis voluptatum, quos eveniet possimus illo corrupti rem at minus cupiditate aperiam harum? Necessitatibus, dolores modi.
                Magnam nemo, neque at commodi culpa, saepe corporis, error praesentium earum corrupti necessitatibus incidunt impedit possimus fuga ipsum illum consequatur ullam. Aspernatur sequi nam facilis ullam tempore deleniti aut earum!
                <button>Reply</button>
            </div>
        </div>
    <script src="../main.js"></script>
    </body>
</html>